.select_container {
  height: 2.6rem;
  margin-top: 0.2rem;
  position: relative;
}

.select_button {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 2px solid hsl(var(--black));
  padding: 0 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select_button_disabled {
  border: none;
  background-color: hsl(var(--black), 0.25);
}

.drop_is_open {
  border-radius: 10px 10px 0 0;
}

.select_button div {
  display: flex;
  transition: all 0.3s ease;
}

.arrow_up {
  transform: rotateZ(180deg);
}

.select_dropdown {
  background-color: var(--main-clr);
  color: var(--white);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.select_dropdown > div {
  padding: 0.5rem;
}

.select_dropdown > div:hover {
  cursor: pointer;
  background-color: var(--main-clr-dark);
}

.select_dropdown > div + div {
  border-top: 1px solid var(--white);
}
